*.png
frames/
images/
preds/
retground/
retpred/
resized/
testground/
testpreds/
annotadedgroundtruth/
finetunedground/
finetunedpreds/
finetuned.keras

.venv/
*.mp4
*.csv
animals-detection-images-dataset/